@font-face {
    font-family: 'PressStart2P';
    src: URL('fonts/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'IBMPlexSansDevanagari';
    src: URL('fonts/IBMPlexSansDevanagari.ttf') format('truetype');
}

div.mainBox {
    background-color: #111314;
    border-radius: 25px;
    margin: auto;
    width: 700px;
    height: auto;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-family: PressStart2P;
    color: rgb(0, 255, 60);
}

.email {
    font-family: PressStart2P;
    font-size: 13px;
    text-align: left;
    right: 50px !important; 
}

.list {
    text-align: left;
}

/* keyframes*/
#cheemsIMG{
    position: relative;
    left: -5;
    animation-duration: 4s;
    animation-name: cheemsIMG;
    animation-iteration-count: infinite;
    position: fixed;
    bottom: 0;
}

@keyframes cheemsIMG  {
    0% {
        transform: translateX(100px) rotate(0);
      }
      30% {
        transform: translateX(400px) rotate(0);
      }
      50% {
        transform: translateX(400px) rotate(180deg);
      }
      80% {
        transform: translateX(100px) rotate(180deg);
      }
      100% {
        transform: translateX(100px) rotate(360deg);
      }
  }